# PIXI

> You need to download PIXI and include it in your HTML or insert it with some CDN link:

```html
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.0/pixi.min.js"></script>
<script src="pixi/pixi.min.js"></script>
```

Figures provided by Axie Infinity Teams are modeled with skeletons. Hence their ability to being animated. To do so we can use <a href="https://www.pixijs.com" target="_blank">PIXI</a> library. To get hands on some examples you can hop on to them: <a href="https://github.com/kittykatattack/learningPixi" target="_blank">Learning Pixi</a>

Code snippets coming soon...