---
title: Axie Infinity API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - javascript

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

search: true
---

<%= partial "includes/introduction.md" %>
<%= partial "includes/authentication.md" %>
<%= partial "includes/api/api.md.erb" %>